
<!doctype html>
<html>
    <head>
        <title>{{titles}}</title>
        <style>
               
                .error
                {
                    color: red;
                }

                .base_hr
                {
                    color:#97A8A8;
                }

                .blog_link
                {
                    padding-right:5px;
                    padding-left: 5px;
                    font-size: 0.90em;
                }
            </style>
        <header>
            <div style='float: left;'>
                <a href="/blog">Main Blog Page</a> | <a href="/newpost">Add a Blog Entry</a>
            </div>
            <!--a class="blog_link" href="/blog">Main Blog Page</a>
            <a class="blog_link" href="/newpost">Add a Blog Entry</a-->

            <div style='float: right;'>
                  <a href="login">Login</a> | <a href="signup">Sign Up</a>
              </div>
        </header>
    </head>
<body>
        {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category, message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
        {% endwith %}
    {% block content %}
    {% endblock %}

</body>
</html>