
<!doctype html>
<html>
    <head>
        <title>{{titles}}</title>
        <style>
               
                .error
                {
                    color: red;
                }
            </style>
        <header>
            <div style='float: left;'>
                <a href="/blog">all posts</a> | <a href="/newpost">new post</a> | <a href="/">home</a>
            </div>
            <!--a class="blog_link" href="/blog">Main Blog Page</a>
            <a class="blog_link" href="/newpost">Add a Blog Entry</a-->

            <div style='float: right;'>
                    {% if 'user' in session %}
                    {{ session['user'] }}
                    <form action="/logout" method="post" id='logout'>
                      <input type="submit" value="Log Out" />
                    </form>
                  {% else %}
                  <a href="login">login</a> | <a href="signup">sign up</a>
                  {% endif %}
              </div>
        </header>
    </head>
<body>
        {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category, message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
        {% endwith %}
    {% block content %}
    {% endblock %}

</body>
</html>