
{% extends "base.html" %}

{% block content %}
<div class = "container-fluid">
<h2 class = "text-primary" align="left">blogz!</h2>
    <br>
    {% if blogs|length == 0 %}
    <p>No blogs yet :/</p>
    {% else %}

    
            {% for blog in blogs %}
            <div>
            <u><a href='/blog?id={{blog.id}}'><h4>{{blog.title}}</h4></a></u>
            <p>{{blog.body}}</p>
            <p><p style ="font-size: .75em;"><em>written by: <u><a href = '/?user={{blog.owner.id}}'>{{blog.owner.username}}</a></u></em>
            <hr>
            </div>
            {% endfor %}
            
            
    
        </div>
    {% endif %}
{% endblock %}