{% extends "base.html" %}
{% block content %}
<div class = "container-fluid">
    <h2 class = "text-primary" align="left">submit a blog!</h2>
    <br>
    <form action="/blog" method='post'>
        <label>
            New Blog Title:
            </label>
            <div>
            <input type="text" name='blog_title' />
            </div>
            <div style="padding-top:10px;">
            <textarea name="blog_entry" rows="10" cols="30">
            </textarea>
            </div>
        <input class ="btn btn-primary" type="submit" value='Add Blog Entry' />
    </form>

    <hr />
</div>
{% endblock %}